<div class="mt-20 w-full flex items-center -ml-full rounded-3xl shadow-lg bg-gradient-to-br from-green-300 to-green-500">
    <img src="images/gostar.png" class="h-10 items-center justify-center m-5" />
    <div>
        <h3 class="font-bold text-white">@Title</h3>
        <div>Prompt <a href="#" class="underline font-semibold">Navigation</a></div>
    </div>
</div>

@code{
    [Parameter]
    public string? Title { get; set; }
}